.new-expense {
  background-image: linear-gradient(
    to bottom,
    var(--color-primary),
    var(--color-bg-dark)
  );
  background-repeat: no-repeat;
  padding: 1rem;
  margin: 1rem auto;
  width: 60rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.new-expense button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-bg-dark-variant);
  background-color: var(--color-bg-dark-variant);
  color: white;
  border-radius: 6px;
  /* margin-right: 1rem; */
}

.new-expense button:hover,
.new-expense button:active {
  background-color: var(--color-bg-dark);
  border-color: var(--color-primary);
}

.new-expense button.alternative {
  color: var(--color-primary);
  border-color: transparent;
  background-color: transparent;
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active {
  background-color: var(--color-bg-dark);
}
